.TodoItem {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.233);
  &:nth-last-child(1) {
    border-bottom: none;
  }
  .Radio {
    margin: 3px;
    width: 25px;
    height: 25px;

    & {
      color: #99999999;
    }
  }
  textarea {
    width: 90%;
    background-color: #ffffff00;
    border: none;
    outline: none;
    resize: none;
    padding: 8px 0 6px 0;
  }
}
.deleing {
  animation: deleing 2200ms;
}

@keyframes deleing {
  from {
    opacity: 1;
  }

  80% {
    opacity: 1;
    transform: translateY(0%) scaleY(100%);
  }
  to {
    opacity: 0;
    transform: translateY(-50%) scaleY(0%);
  }
}
