.TodoItem {
  display: flex;
  flex-direction: row;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.233);
  animation: show 1000ms;

 
 
  .Radio {
    margin: 3px;
    width: 25px;
    height: 25px;
    svg {
      stroke: deepskyblue;
      stroke-width: 0;
    }
    & {
      color: #99999999;
    }
  }
  textarea {
    width: 90%;
    background-color: #ffffff00;
    border: none;
    outline: none;
    resize: none;
    padding: 8px 0 6px 0;
  }
}
.deleing {
  animation: deleing 5000ms;
}
@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes deleing {
  from {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
