.TodoListComponent {
  /* background-color: rgba(128, 128, 128, 0.181);*/
  background-color: #fff;
  width: 250px;
  height: 100%;
  padding: 10px;
  padding-top: 20px;
  box-sizing: border-box;
  max-height: 100vh;
  
}
